html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 450px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color:rgb(102, 96, 96);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide img {
  display: block;
  width: 232px;
  height: 260px;
  object-fit: cover;
}
.products i{
    margin-bottom:15px
}
.products_btn{
    padding:12px 22px;
    border: none;
    background-color: rgb(12, 211, 168);
    border-radius:7px;
    margin-bottom:10px;
}